body {
    background-color: black;
    color: white;
    font-family: 'Arial';
    text-align: center;
}

.hands {
    display: flex;
    margin: 3rem auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.hand {
    padding: 16px;
    width: 30%;
    border: 6px solid white;
    color: white;
    font-size: 24px;
    background-color: transparent;
}

.hand img {
    object-fit: scale-down;
    width: 40%;
    height: 60%;
}

.scoreboard {
    display: flex;
    justify-content: center;
}

.score img {
    object-fit: scale-down;
    width: 30%;
    height: 60%;
}